<main class="main">
  <div class="content">
    <div class="left-side">
      <a routerLink="./bindings">Bindings</a>
      <h1>Directives</h1>
      <h4>Structural Directives</h4>
      <table>
        <tr>
          <td><a routerLink="./directive/ngif">ng-if</a></td>
          <td><a routerLink="./directive/ngfor">ng-for</a></td>
          <td><a routerLink="./directive/ngswitch">ng-switch</a></td>
        </tr>
      </table>
      <h4>Attribute Directives</h4>
      <table>
        <tr>
          <td><a routerLink="./directive/ngclass">ng-class</a></td>
          <td><a routerLink="./directive/ngstyle">ng-style</a></td>
        </tr>
      </table>
      <h4>Component Directives</h4>
      <a routerLink="./directive/portfolioBuilder">
        Portfolio Builder (ng-container,ng-template)
      </a>
      <h1>Life cycle hooks</h1>
      <a routerLink="./hooks/ng-on-changes">Ng On Changes</a><br>
      <a routerLink="./hooks/ng-on-init">Ng On init</a>
      <!-- Decorators -->
      <div>
        <h1>Decorators</h1>
        <div>
          <h4><a routerLink="./input-output">Input Output</a></h4>
          <p>
            1. &commat;input and &commat;output both are <b>property decorators</b>.<br>
            2. input property acts as attribute, we have bind it with squer brackets "[]".<br>
            3. output property acts as event, we have bind it with round brackets "()". With output propert we also need
            to use <b>EventEmitter.</b> <br>
            4. In this example I have also implement life cycle hook.
          </p>
        </div>
        <div>
          <h4><a routerLink="./view-child">View Child</a></h4>
          <p>
            In this example we have used <b>&commat;ViewChild</b> decorator with <b>ngAfterViewInit</b> lifecycle hook.
          </p>
        </div>
        <div>
          <h4><a routerLink="./content-child">Content Child</a></h4>
          <p>
            In this example we have used <b>&commat;ContentChild</b> decorator with <b>ngAfterContentInit</b> lifecycle
            hook.
          </p>
        </div>
        <div>
          <h4>Host Binding and Host Listener</h4>
          <p>
            In this example we have used <b>&commat;HostBinding</b> and <b>&commat;HostListener</b> decorator with
            custom directive. <br>
            <b>&commat;HostListener</b> is method decorator.
          </p>
          <a routerLink="./host-binding-listener">Host Binding and Host Listener</a><br>
        </div>
      </div>
      <!-- Pipes -->
      <div>
        <h1>Pipes</h1>
        <div>
          <h4>
            Inbuild Pipes
          </h4>
          <a routerLink="inbuilt-pipe">Inbuild Pipes</a>
        </div>
        <div>
          <h4>
            Slice Pipes
          </h4>
          <a routerLink="slice-pipe">Slice Pipes</a>
        </div>
        <div>
          <h4>
            Custome Pipes
          </h4>
          <a routerLink="custome-pipe">Pipes</a>
        </div>
      </div>
      <!-- Routing -->
      <div>
        <h1>Routing</h1>
        <div>
          <h4><a routerLink="./dynamic-routing">Dynamic Routing</a></h4>
          <p>In Dynamic Routing example, you can check how to pass route parameters(Dynamic link) and read route parameters from
            URL in component</p>
        </div>
        <div>
          <h4><a routerLink="/nested-route">Nested Routing</a></h4>
          In Nested Routing example, you use of "children" property of Routes class. Check <b>app-routing.module.ts</b>
          file<br>
          With the <b>router-outlet</b> directive we can rander component inside other component.<br>
        </div>
        <div>
          <h4><a routerLink="queryperam-routing">Queryperam Routing</a></h4>
        </div>
      </div>
      <div>
        <h1>Services</h1>
        <h4><a routerLink="custom-service">Custom Service</a></h4>

      </div>
      <div>
        <h1>Forms</h1>
        <div>
          <h4><a routerLink="template-driven-form">Template Driven Form</a></h4>
          <ul>
            <li>To create template driven form we need to import <b>NgForm</b> from <b>&commat;angular/forms</b> module
            </li>
            <li>We need to ngForm directive to form element, ex: #myForm="ngForm"</li>
            <li>After creating the form form submit event handeled by <b>ngSubmit</b> event, ex:
              (ngSubmit)="onSubmit(myForm)</li>
            <li>Template Driven Forms are useful for small and simple forms</li>
          </ul>
        </div>
        <div>
          <h2>Reactive Form</h2>
          <h4><a routerLink="form-control">Form Control</a></h4>


        </div>
      </div>
    </div>




    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <router-outlet />

    </div>
  </div>
</main>